


/* =======================
   FOOTER MODERNO ARTESANO
   ======================= */
   .footer-modern {
    background-color: #000000;
    color: #e5e5e5;
    padding: 60px 10%;
    font-family: 'Poppins', sans-serif;
  }
  
  .footer-top {
    display: flex;
    justify-content: flex-start;
    align-items: flex-start;
    margin-bottom: 40px;
  }
  
  .footer-logo {
    width: 90px;
    height: 90px;

    margin-right: 20px;
  }
  
  .footer-logo-text{
    display: flex;
    flex-direction: row;
    gap: 400px;
  }

  .footer-logo-text p {
    color: #cfcfcf;
    width: auto;
    font-size: 20px;
    line-height: 1.7;
    text-align: left;

  }
  
  .footer-divider {
    border: none;
    border-top: 1px solid rgba(255, 255, 255, 0.2);
    margin: 30px 0;
  }
  
  .footer-content {
    display: flex;
    flex-wrap: wrap;
    justify-content: space-between;
    gap: 2rem;
  }
  
  .footer-column h3 {
    color: #ffffff;
    font-size: 24px;
    margin-bottom: 15px;
  }
  
  .footer-column ul {
    list-style: none;
    padding: 0;
  }
  
  .footer-column ul li {
    margin-bottom: 8px;
    font-size: 20px;
  }
  
  .footer-column a {
    color: #a7a7a7;
    text-decoration: none;
    transition: color 0.3s;
  }
  
  .footer-column a:hover {
    color: #c9a66b; /* tono dorado */
  }
  
  .newsletter p {
    width: 700px;
    color: #bfbfbf;
    font-size: 20px;
    margin-bottom: 10px;
  }
  
  .newsletter form {
    display: flex;
    flex-direction: column;
    gap: 10px;
  }
  
  .newsletter input {
    padding: 12px 18px;
    border-radius: 30px;
    border: none;
    outline: none;
    font-size: 20px;
    color: #333;
  }
  
  .newsletter button {
    width: 170px;
    background-color: #c9a66b;
    font-size: 20px;
    border: none;
    padding: 12px 20px;
    border-radius: 6px;
    color: #fff;
    font-weight: 600;
    cursor: pointer;
    transition: background-color 0.3s, transform 0.2s;
  }
  
  .newsletter button:hover {
    background-color: #b8925a;
    transform: translateY(-2px);
  }
  
  .footer-bottom {
    display: flex;
    justify-content: space-between;
    align-items: center;
    flex-wrap: wrap;
    padding-top: 15px;
    color: #999;
  }

  .footer-bottom p{
   font-size: 20px;
   width: 500px;
  }
  

  .footer-socials a {
    color: #c9a66b;
    font-size: 18px;
    margin-left: 15px;
    transition: color 0.3s, transform 0.2s;
  }

  .footer-socials img{
    width: 26px;
    height: auto;
  }
  
  .footer-socials a:hover {
    color: #ffffff;
    transform: scale(1.1);
  }
  
  @media (max-width: 768px) {
    .footer-content {
      flex-direction: column;
      align-items: flex-start;
    }
  
    .footer-bottom {
      flex-direction: column;
      text-align: center;
      gap: 10px;
    }
  }
  
