<!-- Encabezado -->
<header class="header-bg" [style.background-image]="'url(' + banner + ')'">
  <div class="overlay"></div>
  <nav class="nav-links">
    <a routerLink="/" class="logo">
      <img src="assets/images/LOGO_ArtesanoMadera_Sinfondo.png" alt="Logo Artesano Madera">
    </a>

    <div class="nav-items">
      <a href="/" routerLinkActive="active" (click)="irA('/home')">Inicio</a>
      <a href="/products" routerLinkActive="active" (click)="irA('/products')">Productos</a>
      <a href="javascript:void(0)" (click)="irA('/', 'contacto')" routerLinkActive="active">Contacto</a>
      <a href="/cart" routerLinkActive="active" (click)="irA('/cart')">Carrito</a>
      <a href="/login" routerLinkActive="active" class="bot" (click)="irA('/login')">Iniciar Sesión</a>
    </div>
  </nav>

  <main class="main-content">
    <div class="contenedor01">   
      <h1 class="texto01">Estilo y calidad en carpintería</h1>
      <p class="texto02">Muebles diseñados para inspirar confianza y elegancia.</p>
    </div>

    <div class="botones">
        <button class="bot01" (click)="irA('/cart')">Comprar</button>
        <button class="bot01" (click)="irA('/products')">Ver Productos</button>
    </div>
  </main>
</header>
