<div class="header-bg" [style.background-image]="'url(' + banner + ')'">
  <nav class="nav-links">
    <a routerLink="/" class="logo">
      <img src="assets/images/LOGO_ArtesanoMadera_Sinfondo.png" alt="Logo Artesano Madera">
    </a>
    <div class="nav-items">
      <a routerLink="/" routerLinkActive="active">Inicio</a>
      <a routerLink="/products" routerLinkActive="active">Productos</a>
      <a routerLink="/about" routerLinkActive="active">Nosotros</a>
      <a routerLink="/contact" routerLinkActive="active">Contacto</a>
      <a routerLink="/cart" routerLinkActive="active">Carrito</a>
      <a routerLink="/login" routerLinkActive="active" class="bot">Iniciar Sesión</a>
    </div>
  </nav>

  <main class="main-content">
    <div class="contenedor01">   
        <h1 class="texto01">Estilo y calidad en carpintería</h1>
        <p class="texto02">Muebles diseñados para inspirar confianza y elegancia.</p>
    </div>
    <div>
        <a routerLink="/about" class="bot01">Comprar</a>
        <a routerLink="/products" class="bot01">Ver Productos</a>
    </div>

  </main>
</div>
<div class="contenedor02">

    <main>
        <div class="contenedor02_1">   
            <div class="tarj">

                <div style="display: flex; flex-direction: row;">
                    <img src="assets/images/icons/icono_001.png" alt="icono_001">
                    <h3>
                        01
                    </h3>
                    
                </div>
                <div><h2>Diseño Exclusivo</h2></div>
                <div>
                    <p>
                        _______________________
                    </p>
                    <p> 
                        Cada proyecto refleja la armonía entre tradición y modernidad. 
                        Nuestras piezas de carpintería están pensadas para integrarse 
                        con elegancia en cualquier espacio, resaltando la belleza natural de la madera.
                    </p>
                </div>

            </div>
            <div class="tarj">
                
                <div style="display: flex; flex-direction: row;">
                    <img src="assets/images/icons/icono_002.png" alt="icono_001">
                    <h3>
                        02
                    </h3>
                    
                </div>
                <div><h2>Calidez y Durabilidad</h2></div>
                <div>
                    <p>
                        _______________________
                    </p>
                    <p> 
                        El uso de materiales seleccionados y procesos de fabricación 
                        rigurosos garantizan muebles resistentes, con acabados que 
                        transmiten confort y sofisticación.
                    </p>
                </div>

            </div>
            <div class="tarj">
                
                <div style="display: flex; flex-direction: row;">
                    <img src="assets/images/icons/icono_003.png" alt="icono_001">
                    <h3>
                        03
                    </h3>
                    
                </div>
                <div><h2>Detalles que Inspiran</h2></div>
                <div>
                    <p>
                        _______________________
                    </p>
                    <p> 
                        Nos enfocamos en la precisión y el arte de la carpintería, 
                        logrando piezas que no solo cumplen una función, sino que 
                        también elevan la estética y el valor de su entorno.
                    </p>
                </div>

            </div>
        </div>
        
    </main>
</div>


